{
    "trailingComma": "none",
    "tabWidth": 4,
    "semi": false,
    "singleQuote": false,
    "printWidth": 120,
    "bracketSpacing": true,
    "arrowParens": "avoid",

    "overrides": [
        {
            "files": "*.json",
            "options": {
                "tabWidth": 2
            }
        }
    ]
}